<div class="container mt3">

    <h1 class="mb-3">OLÁ MUNDO!</h1>

    <p>Esse é um teste para imitar o modelo de renderização do react com o ejs</p>
    <p><strong>Obasrevação:</strong> Eu aproveitei esse teste e desenvolvi um middleware que configura as variaveis de ambiente e adinicona um usuário administrador no sistema. Poder haver falhas.</p>

    <p>suguestões de melhoria:</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolor totam sequi consequuntur! Laboriosam labore dolorum error fugit expedita amet, possimus in pariatur, molestiae odit maiores, aliquam voluptas. Est, ea sint. Voluptatibus accusamus ipsa ullam cumque molestias iure sint. Excepturi, saepe numquam deleniti ipsum voluptatum rem fuga mollitia. Laudantium provident aperiam sequi. Ut illum unde suscipit doloribus voluptas error aut aperiam labore excepturi, sit eaque quaerat nisi quibusdam vitae corrupti asperiores. Sit illo ex nesciunt perspiciatis suscipit eum quod voluptatem necessitatibus veritatis ullam praesentium placeat blanditiis repellendus vel, voluptatibus neque pariatur voluptate earum doloribus deserunt tempora! Alias officia eaque nesciunt ab!</p>
</div>
